.LayoutSidebar {
    .content {
        .BannerSet .CardTitle__title,
        .BannerSearch {
            font-size: 72px;
            color: white;
            padding: 1.0em 0em 1.0em 1.25em;
        }
    }

    .sidebar {
        background-color: transparentize($primary-dark-color,  1 - 0.90);
        box-shadow: 0px 0px 10px 0px transparentize(black, 1 - 0.60);

        scrollbar {
            background-color: transparentize(black, 1 - 0.20);

            slider {
                min-width: 10px;
                background-color: transparentize(white, 1 - 0.40);
            }
        }

        .ArrangementList {
            margin: 0px;
        }

        .CardTitle {
            margin: 0px;
            padding: 10px;

            &__title {
                padding: 0em 0em 0em 1.5em;
                font-family: $display-font;
                font-weight: 700;
                font-size: 20px;
                color: $background-dark-color;
            }

            &:hover {
                .Card__title {
                    color: $accent-light-color;
                }
            }

            &:active {
                .Card__title {
                    color: white;
                }
                background-color: transparentize(black, 1 - 0.5);
            }

            &.highlighted {
                background-color: transparentize(black, 1 - 0.5);
                font-weight: 700;

                .Card__title {
                    color: white;
                }

                &:hover {
                    background-color: transparentize(black, 1 - 0.6);
                }

                &:active {
                    background-color: transparentize(black, 1 - 1);
                    box-shadow: none;
                    transition: none;
                }
            }
        }

        .ContentGroupContentGroup {
            background-color: transparent;
        }
    }
}

.composite {
    .sidebar {
        .CardTitle {
            &__title {
                font-family: $display-font-composite;
                padding: 0em 0em 0em 1.0em;
                font-size: 20px;
            }
        }
    }
}
